<table id = 'welcome'>
  <tr>
    <td><%= link_to "IF YOU'RE A DOCTOR", new_doctor_session_path, :method => :get %></td>
    <td><%= link_to "IF YOU'RE A PATIENT", new_patient_session_path, :method => :get %></td>
