<p id="notice"><%= link_to "Sign out", destroy_patient_session_path, :method => :delete %></p>

<div class="cent">
<h1>CHRONIC SINUSITIS FORM</h1>

<%= render 'form', chronic: @chronic %>
<br />
<%= link_to 'Back', patients_path %>
</div>
