<table id = 'welcome'>
<tbody>
  <tr>
    <td id="dc"><%= link_to "DOCTOR", new_doctor_session_path, :method => :get%></td>
    <td id="pt"><%= link_to "PATIENT", new_patient_session_path, :method => :get%></td>
  </tr>
</tbody>
</table>
