<div class = "cent">
<p class = "cent">
  <strong>Patient:</strong>
  <%= @acute.patient_id %>
</p>

<p class = "cent">
  <strong>Date created:</strong>
  <%= @acute.date_created %>
</p>


<p class = "cent">
  <strong>Answer:</strong>
  <%= @acute.answer %>
</p>

<%= link_to 'Back', patients_path %>
</div>
